      <!-- Safety information -->
      <div class="mb-5">
        <h5 class="mb-4">Safety information</h5>
        <div class="container">
        <div class="row mb-3 align-content-center">
          <div class="col-auto me-1">
            <i class="text-primary fa-classic fa-regular fa-list-check fa-xl"></i>
          </div>
          <div class="col">
            Be prepared. Create a <a href="https://www.adventuresmart.ca/trip-plan-app/"
            target="blank"
            rel="noopener noreferrer
            "> trip plan </a>and get to know the <a
              href="https://www.adventuresmart.ca/the-three-ts/"
              target="_blank"
              rel="noopener noreferrer"
            >AdventureSmart's 3Ts</a>.
          </div>
        </div>
        <div class="row mb-3 align-content-center">
          <div class="col-auto me-1">
            <i class="text-primary fa-regular fa-triangle-exclamation fa-xl"></i>
          </div>
          <div class="col">
            Check the <a
              [attr.href]="parkLink"
              target="_blank"
              rel="noopener noreferrer"
            >park page</a> for advisories.
          </div>
        </div>
        
        <div class="row mb-3 align-content-center">
          <div class="col-auto me-1">
            <i class="text-primary fa-regular fa-paw-claws fa-xl"></i>
            </div>
            <div class="col">
              Be <a
                [attr.href]="bearLink"
                target="_blank"
                rel="noopener noreferrer"
              >Bear Aware</a>. Avoid or stow attractants to help avoid encounters.
            </div>
          </div>

        <div class="row mb-3 align-content-center">
          <div class="col-auto me-1">
              <i class="text-primary fa-solid fa-droplet fa-xl"></i>
            </div>
            <div class="col">
              Pack enough water, or be prepared to treat fresh water. There are no signifigant water sources beyond the 5 km mark on the trail until you reach Elfin Lakes at 11 km. 
            </div>
          </div>
        </div>
  </div>
      <!-- Vistor guidelines -->
      <div class="mb-5">
        <h5 class="mb-4">Visitor guidelines</h5>
        <div class="container">
        <div class="row mb-3 align-content-center">
          <div class="col-auto me-1">
            <i class="text-primary fa-classic fa-regular fa-bicycle fa-xl"></i>
            </div>
            <div class="col">
              Biking is permitted to Cheakamus Lake and Singing Creek but not Helm Creek. Use bike-specific paths when available, and be considerate of hikers.
            </div>
          </div>

        <div class="row mb-3 align-content-center">
          <div class="col-auto me-1">
            <i class="text-primary fa-classic fa-regular fa-music fa-xl"></i>
          </div>
          <div class="col">
            Respect other park users. Do not play music out loud.
          </div>
        </div>

        <div class="row mb-3 align-content-center">
          <div class="col-auto me-1">
            <i class="text-primary fa-classic fa-regular fa-trash-can fa-xl"></i>
          </div>
          <div class="col">
            There are no garbage cans along the trail. Understand your responsibility to <a
              href="https://www.youtube.com/watch?v=Qm3U9eKha74&ab_channel=CallingMountainsProductions"
              target="_blank"
              rel="noopener noreferrer"
            >#LeaveNoTrace</a> by packing out anything you pack in.
          </div>
        </div>

        <div class="row mb-3 align-content-center">
          <div class="col-auto me-1">
            <i class="text-primary fa-classic fa-regular fa-dog-leashed fa-xl"></i>
          </div>
          <div class="col">
            Pets are not permitted in Garibaldi Park.
          </div>
        </div>
      </div>
    </div>
