<div class="mb-3">
    <button type="button" class="btn btn-secondary back-button" (click)="navigate()">
        <span class="material-icons">
            arrow_back
        </span>
        &nbsp;
        <span>
            {{backButtonText}}
        </span>
    </button>
</div>

<div class="card text-center mb-5">
    <div class="card-header">
        <h1>{{title}}</h1>
    </div>
    <div class="card-body text-left">
        <p class="card-text">
            Please follow these steps to cancel your reservation:
        </p>
        <ol>
            <li [ngClass]="{'font-weight-bold': state === 'blank' || state === 'no-match'}">
                If you provided an email with your reservation, you received an email containing a cancellation link.
                Please follow the link in the email to the cancellation page.
            </li>

            <li [ngClass]="{'font-weight-bold': state === 'found'}">
                Verify the reservation information and click 'Cancel Reservation' to confirm cancellation.
            </li>
        </ol>
    </div>
</div>

<div *ngIf="state === 'found'">
    <div *ngIf="pass">
        <app-registration-details [regData]="pass">
        </app-registration-details>
    </div>
    <div *ngIf="!pass">
        <app-alert [data]="passNotFound()">
        </app-alert>
    </div>
</div>
<div class="d-flex float-right my-3 mx-1" *ngIf="state === 'found'">
    <button class="btn btn-danger" (click)="cancelReservation()" [disabled]="!pass"> Cancel Reservation </button>
</div>

<div *ngIf="state === 'cancelled'">
    <app-alert [data]="cancelSuccess()">
    </app-alert>
</div>