<div class="container-md my-5">
    <button type="button" class="btn btn-link home-button" (click)="navigate()">
        <span class="material-icons md-36">arrow_back</span>
        &nbsp;
        <span class="fs-2 align-top">
            {{ backButtonText }}
        </span>
    </button>
    <div class="p-4 row gx-5">
        <h1 class="mb-4">
            {{title}}
        </h1>
        <br>
        <div *ngIf="isLoading === true"> <span class="material-icons md-48 spinner rotating">autorenew</span> </div>
        <div id="faqData"></div>
    </div>
    <div class="footer-note">
        <em>
            If you are experiencing a technical issue with the site please contact <a href="mailto:parkinfo@gov.bc.ca?subject=Report Issue: Day Use Pass">parkinfo&#64;gov.bc.ca</a>. 
        <br>
            *Non-urgent issues will be addressed during business hours, Monday–Friday, 8:30am–4:30pm, excluding statutory holidays.
        </em>
    </div>
</div>
