<header class="app-header" id="header">
    <div class="container">
        <a class="navbar-brand"
            title="BC Parks Reservations"
            tabIndex="0"
            href="https://bcparks.ca/">
            <img src="/assets/images/BCID_V_rgb_rev.png" class="d-inline-block bc-gov-logo" alt="">
            <img src="https://bcparks.ca/_shared/images/logos/logo-bcparks-text.png" class="d-inline-block align-middle bc-parks-title" alt="BC Parks">
        </a>
    </div>
</header>
<nav class="navigation-main" id="navbar">
    <div class="container">
      <ul>
        <li><a href="sample.html" class="active">Visiting Parks</a></li>
        <li><a href=".">Support Us</a></li>
        <li><a href=".">Volunteers</a></li>
        <li><a href=".">Conversation</a></li>
        <li><a href=".">Planning</a></li>
        <li><a href=".">Bc Parks</a></li>
        <li><a href=".">Resources</a></li>
      </ul>
    </div>
  </nav>