@import "/src/assets/themes/default.scss";
@import "/src/assets/base/base.scss";

.env-banner {
    padding: 5px 10px;
    z-index: 10000;

    &.red {
        background-color: #ff8e8e;
        color: black;
    }

    &.orange {
        background-color: #ffd47e;
        color: black;
    }

    &.yellow {
        background-color: #f1ef63;
        color: black;
    }

    &.green {
        background-color: #aaf1a0;
        color: black;
    }

    &.purple {
        background-color: #d39eff;
        color: black;
    }
}

.sub-header {
    width: 100%;
    background-color: $bg-header-secondary;
    border-top: 2px solid $bcgold;
}

.app-header {
    background: $header-bg;
    color: $header-font-color;
    height: $header-height;
}
.showForIEorEdge {
    display: block;
}

// Navbar Toggle Button
.navbar-toggler {
    margin-right: 0.5rem;
    padding: 0.5rem 0.4rem;
    border: 2px solid $bcgold;
    color: $bcgold;
    font-size: medium;
    font-weight: 600;
    outline: none; // override user agent stylesheet default

    &:hover {
        cursor: pointer;
    }

    &.collapsed {
        border: 2px solid transparent;
        color: #fff;
    }

    i {
        float: left;
        margin-top: -0.25rem;
        margin-bottom: -0.25rem;

        + span {
            display: none;
            margin-top: 1px;
            margin-left: 0.25rem;
            font-size: $mn-font-size;
            font-weight: 700;
            vertical-align: top;
        }
    }
}

@media (min-width: 420px) {
    .navbar-toggler {
        i {
            + span {
                display: inline-block;
            }
        }
    }
}

// NAVBAR
.navbar {
    padding: 0;
    background-color: $header-bg !important;
    z-index: 1000;

    .navbar-nav {
        margin-top: 0.5rem;
        padding-right: 30px;

        .nav-link {
            position: relative;
            z-index: 1001; // +1 to keep above dropdown menus
            padding: 0.875rem 1rem;
            border-top: 1px solid $mn-border-color;
            color: $bcgold;
            text-transform: uppercase;
            font-size: $mn-font-size;
            font-weight: 700;
            cursor: pointer;

            span {
                font-size: 1rem;
                text-transform: none;
                font-weight: normal;
            }

            .icon {
                margin-top: 0;
            }
        }

        .dropdown {
            &.show {
                .dropdown-toggle {
                    color: $bcgold;
                }
            }
        }

        .dropdown-menu {
            margin-top: -0.4rem;
            padding-top: 0;
            border: none;
            border-radius: 0;
            background-color: transparent;

            .dropdown-item {
                padding: 0.5rem 1rem;
                color: $mn-color;
                font-size: $mn-dropdown-menu-size;
                white-space: normal;
                cursor: pointer;

                strong {
                    font-weight: 600;
                    transition: color 0.2s ease-out;
                }

                .dd-item-desc {
                    display: block;
                    font-size: small;
                    opacity: 0.5;
                    transition: opacity 0.2s ease-out;
                }

                &:focus,
                &:hover {
                    background: transparent;

                    strong {
                        color: $mn-hover-color;
                    }

                    .dd-item-desc {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar {
        background: transparent;

        .navbar-nav {
            margin-top: 0;

            .nav-link {
                height: 4.2rem; // 60px to match the branding height
                padding: 0.5rem 0.75rem !important;
                border-top: none;
                span {
                    margin-top: 0.9rem;
                    display: inline-block;
                }
                &:hover {
                    border-bottom: 2px solid $bcgold;
                }
            }

            > li {
                .dropdown-menu {
                    margin: 0;
                    padding: 0.5rem;
                    min-width: 16rem;
                    background-color: #002663;
                    &.dm-sm {
                        min-width: 12rem;
                    }
                    .dropdown-item {
                        padding: 0.5rem;
                    }
                }

                &.dropdown {
                    &.show {
                        .dropdown-toggle {
                            color: $mn-color;
                        }
                        .dropdown-menu {
                            display: none;
                        }
                    }

                    &:hover {
                        > a,
                        > a:hover,
                        > a:focus {
                            background-color: #002663;
                            border: none;
                        }
                        .dropdown-menu {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .navbar-collapse {
        flex-grow: 0;
    }
}

// Navbar Brand
.navbar-brand {
    height: 4rem;
    white-space: normal;
}

.bc-parks-logo {
    height: 100%;
}

