<nav class="navbar">
    <div class="container py-3">
        <a class="navbar-brand"
            title="BC Parks Reservations"
            [routerLink]="['/']" target="_blank">
            <img src="assets/images/BCParks_Primary_Reversed.webp"
                class="bc-parks-logo" 
                alt="BC Parks Logo">
        </a>
    </div>
    <div class="sub-header">
        <div *ngIf="showBanner"
            class="env-banner text-center red">
            This is the&nbsp;<strong>{{envName}}</strong>&nbsp;environment. The content you are viewing is not final and
            subject to change.
        </div>
    </div>
</nav>