<footer class="app-footer">
  <div class="container">
    <div class="footer-admin clearfix">
      <div class="container-top">
        <a class="navbar-brand"
          title="BC Parks Reservations"
          href="https://bcparks.ca/">
          <div class="footer-brand text-center text-md-start">
            <img src="assets/images/bcgov-header-vert-MD.webp"
              alt="BC Government Logo">
            <img src="assets/images/logo-bcparks-text.webp"
              class="d-inline-block align-text-middle bc-parks-title"
              alt="BC Parks">
          </div>
        </a>
        <div class="footer-note">
          <em>
            If you are experiencing a technical issue with the site please contact <a href="mailto:parkinfo@gov.bc.ca?subject=Report Issue: Day Use Pass">parkinfo@gov.bc.ca</a>. 
          <br>
            *Non-urgent issues will be addressed during business hours, Monday–Friday, 8:30am–4:30pm, excluding statutory holidays.
          </em>
        </div>
      </div>
      <div class="container">
        <hr>
      </div>
      <div class="container">
        <div class="gov-links">
          <div>
            <a href="http://www2.gov.bc.ca/gov/content/home/accessibility" target="_blank">Accessibility</a>
          </div>
          <div>
            <a href="http://www2.gov.bc.ca/gov/content/home/disclaimer" target="_blank">Disclaimer</a>
          </div>
          <div>
            <a href="http://www2.gov.bc.ca/gov/content/home/privacy" target="_blank">Privacy</a>
          </div>
          <div>
            <a href="http://www2.gov.bc.ca/gov/content/home/copyright" target="_blank">Copyright</a>
          </div>
          <div>
            <a [routerLink]="['/pass-lookup/']" target="_blank">Cancellation Policy</a>
          </div>
          <div class="version-text">
            version: {{hashVersion}}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>