<footer class="app-footer"
  id="footer">
  <div class="container">
    <div class="footer-admin clearfix">
      <div class="container-top">
        <a class="navbar-brand"
          title="BC Parks Reservations"
          tabIndex="1"
          href="https://bcparks.ca/">
          <div class="footer-brand">
            <img src="assets/images/bcgov-header-vert-MD.png">
            <img src="https://bcparks.ca/_shared/images/logos/logo-bcparks-text.png"
              class="d-inline-block align-text-middle bc-parks-title"
              alt="BC Parks">
          </div>
        </a>
      </div>
      <div class="container">
        <hr>
      </div>
      <div class="container">
        <ul class="gov-links">
          <li>
            <a href="http://www2.gov.bc.ca/gov/content/home/accessibility"
              tabindex="104"
              target="_blank">Accessibility</a>
          </li>
          <li>
            <a href="http://www2.gov.bc.ca/gov/content/home/disclaimer"
              tabindex="102"
              target="_blank">Disclaimer</a>
          </li>
          <li>
            <a href="http://www2.gov.bc.ca/gov/content/home/privacy"
              tabindex="103"
              target="_blank">Privacy</a>
          </li>
          <li>
            <a href="http://www2.gov.bc.ca/gov/content/home/copyright"
              tabindex="101"
              target="_blank">Copyright</a>
          </li>
          <li>
            <a href="http://www2.gov.bc.ca/gov/content/home/copyright"
              tabindex="101"
              target="_blank">Cancellation Policy</a>
          </li>
          <li>
            <a href="http://www2.gov.bc.ca/gov/content/home/copyright"
              tabindex="101"
              target="_blank">Responsible Recreation</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>