@import "/src/assets/themes/default.scss";

.land-acknowledgement {
  background: #2464A4;
  text-align: center;
  width: 100vw;
  margin: 0;
  padding: 1rem 0 0 0; /* Top, Right, Bottom, Left */
}
.app-footer {
  background: $footer-bg;
  color: $footer-color;

  .container {
    padding-bottom: 0.5rem;
  }

  .footer-note {
    font-size: 0.85rem;
  }

  .container-top {
    padding-top: 2.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  a {
    color: $footer-color;

    &:focus,
    &:hover {
      color: $bcgold;
    }
  }

  .footer-admin {
    text-align: bottom;

    .gov-links {
      display: flex;
      flex-flow: row wrap;

      .version-text {
        margin-left: auto;
        font-size: 10px;
        line-height: 16px;
      }

      div {
        display: inline-block;
        margin: 0 0 0.25rem 0;
        font-family: BC Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.72);

        &:after {
          position: relative;
          top: -1px;
          display: inline-block;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
          content: "|";
        }

        &:last-child, &:nth-last-child(2) {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

.bc-parks-logo {
  height: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.app-footer--sm {
  right: 0;
  bottom: 0;
  left: 0;
  height: 2rem;
  border: none;

  .container {
    max-width: 100%;
    padding: 0 0.5rem;
  }

  .footer-admin {
    margin: 0;
    padding-top: 0.4rem;
    padding-bottom: 0;
    border: none;
  }

  .footer-info {
    display: none;
  }

  ul {
    font-size: 0.65rem;
  }
}

@media (max-width: 768px) {

  .version-text {
    width: 100%;
    text-align: left;
  }

}
