<footer class="app-footer"
    id="footer">
    <div class="container">
        <div class="footer-admin clearfix">
            <ul class="gov-links">
                <li>
                    <a href="#"
                        tabindex="100">Home</a>
                </li>
                <li>
                    <a href="http://www2.gov.bc.ca/gov/content/home/copyright"
                        tabindex="101"
                        target="_blank">Copyright</a>
                </li>
                <li>
                    <a href="http://www2.gov.bc.ca/gov/content/home/disclaimer"
                        tabindex="102"
                        target="_blank">Disclaimer</a>
                </li>
                <li>
                    <a href="http://www2.gov.bc.ca/gov/content/home/privacy"
                        tabindex="103"
                        target="_blank">Privacy</a>
                </li>
                <li>
                    <a href="http://www2.gov.bc.ca/gov/content/home/accessibility"
                        tabindex="104"
                        target="_blank">Accessibility</a>
                </li>
            </ul>
        </div>
    </div>
</footer>