<!-- Mount Seymour only -->
  <!-- Safety information -->
  <div class="mb-5">
    <h5 class="mb-4">Safety</h5>
    <div class="container">
    <div class="row mb-3 align-content-center">
      <div class="col-auto me-1">
        <i class="text-primary fa-classic fa-regular fa-list-check fa-xl"></i>
      </div>
      <div class="col">
        Be prepared. Get to know the <a
          href="https://www.adventuresmart.ca/the-three-ts/"
          target="_blank"
          rel="noopener noreferrer"
        >AdventureSmart's 3Ts</a>.
      </div>
    </div>
    <div class="row mb-3 align-content-center">
      <div class="col-auto me-1">
        <i class="text-primary fa-classic fa-regular fa-triangle-exclamation fa-xl"></i>
      </div>
      <div class="col">
        Check the <a
          [attr.href]="parkLink"
          target="_blank"
          rel="noopener noreferrer"
        >park page</a> for advisories.
      </div>
    </div>
    <div class="row mb-3 align-content-center">
        <div class="col-auto me-1">
          <i class="text-primary fa-classic fa-regular fa-hill-avalanche fa-xl"></i>
        </div>
        <div class="col">
          Check for risk of  <a
            [attr.href]="avalancheLink"
            target="_blank"
            rel="noopener noreferrer"
          >avalanches</a>.
        </div>
    </div>
    <div class="row mb-3 align-content-center">
        <div class="col-auto me-1">
          <i class="text-primary fa-classic fa-regular fa-snowflake fa-xl"></i>
        </div>
        <div class="col">
          All vehicles must be equipped with winter tires. 
        </div>
    </div>
  </div>
  </div>

  <!-- Vistor guidelines -->
  <div class="mb-5">
    <h5 class="mb-4">Visitor guidelines</h5>
    <div class="container">
    <div class="row mb-3 align-content-center">
      <div class="col-auto me-1">
        <i class="text-primary fa-classic fa-regular fa-car fa-xl"></i>
      </div>
      <div class="col">
        The park access road is open from 7 am to 10 pm daily. Extreme weather can affect road access. Check <a
        href="https://myseymour.ca/the-mountain/todays-conditions-hours"
        target="_blank"
        rel="noopener noreferrer"
        >today's conditions at Mt Seymour</a>.
      </div>
    </div>

    <div class="row mb-3 align-content-center">
        <div class="col-auto me-1">
          <i class="text-primary fa-classic fa-regular fa-square-parking fa-xl"></i>
        </div>
        <div class="col">
          Day-use pass holders may park in lot P1 or Lower P5 (<a
          href="https://nrs.objectstore.gov.bc.ca/kuwyyf/mount_seymour_parking_map_62573de964.pdf"
          target="_blank"
          rel="noopener noreferrer"
          >see parking map</a>.
        </div>
    </div>

    <div class="row mb-3 align-content-center">
      <div class="col-auto me-1">
        <i class="text-primary fa-classic fa-regular fa-bird fa-xl"></i>
      </div>
      <div class="col">
        <a
          href="https://bcparks.ca/plan-your-trip/visit-responsibly/wildlife-safety/"
          target="_blank"
          rel="noopener noreferrer"
        >Respect wildlife</a>. Keep your distance and don’t feed wildlife, including birds!
      </div>
    </div>

    <div class="row mb-3 align-content-center">
      <div class="col-auto me-1">
        <i class="text-primary fa-classic fa-regular fa-trash-can fa-xl"></i>
      </div>
      <div class="col">
        There are no garbage cans along the trail. Understand your responsibility to <a
          href="https://www.youtube.com/watch?v=Qm3U9eKha74&ab_channel=CallingMountainsProductions"
          target="_blank"
          rel="noopener noreferrer"
        >#LeaveNoTrace</a> by packing out anything you pack in.
      </div>
    </div>


    <div class="row mb-3 align-content-center">
      <div class="col-auto me-1">
        <i class="text-primary fa-classic fa-regular fa-dog-leashed fa-xl"></i>
      </div>
      <div class="col">
        Pets are permitted in, but please leash and clean up after your dog.
        </div>
      </div>
    </div>

