<div *ngIf="state !== 'success'"
    class="mb-3">
    <button type="button"
        class="btn btn-primary back-button btn-lg"
        (click)="navigate()">
        <span class="material-icons">
            arrow_back
        </span>
        &nbsp;
        <span>
            {{backButtonText}}
        </span>
    </button>
</div>
<app-park-details *ngIf="state === 'facility-select' && !error"
    [park]="park"></app-park-details>
<div *ngIf="loading && !error"
    class=" text-center">
    <span class="material-icons md-48 spinner rotating">
        autorenew
    </span>
</div>
<section *ngIf="error">
    <p>
        Please contact <a href="mailto:parkinfo@Victoria1.gov.bc.ca">parkinfo@Victoria1.gov.bc.ca</a> if you continue to
        experience issues.
    </p>
</section>
<section *ngIf="!error && !loading">
    <div *ngIf="state === 'facility-select'">
        <app-facility-select [facilities]="facilities"
            (emitter)="getFacilityFormObj($event);">
        </app-facility-select>
    </div>
    <app-contact-form [park]="park"
        [passData]="facilityFormObj"
        (emitter)="getContactFormObj($event);"
        *ngIf="state === 'contact-form'">
    </app-contact-form>
    <app-success [regData]="submitRes"
        *ngIf="state === 'success'"></app-success>
</section>