<div *ngIf="state !== 'success'"
    class="container-md mt-5 mb-2">
    <button type="button"
        class="btn btn-link"
        (click)="navigate()">
        <span class="material-icons align-text-bottom">
            arrow_back
        </span>
        &nbsp;
        <span>
            {{backButtonText}}
        </span>
    </button>
</div>

<section *ngIf="error">
    <p>
        Please contact <a href="mailto:parkinfo@Victoria1.gov.bc.ca">parkinfo@Victoria1.gov.bc.ca</a> if you continue to
        experience issues.
    </p>
</section>
<div *ngIf="!error">
    <!-- Facility select page -->
    <div *ngIf="state === 'facility-select'">
        <div class="container-md">
            <div class="row">
                <div class="col-md-12 col-lg-6 left-col mb-5">
                    <app-park-details [park]="park"></app-park-details>
                </div>
                <div class="col-md-12 col-lg-6 right-col">
                    <app-facility-select *ngIf="!loading"
                        [facilities]="facilities"
                        (emitter)="getFacilityFormObj($event);">
                    </app-facility-select>
                    <div *ngIf="loading"
                        class="text-center loading-container">
                        <span class="material-icons md-48 spinner rotating">
                            autorenew
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <app-guidelines></app-guidelines>
    </div>

    <!-- Contact information page -->
    <div class="container-md">
        <app-contact-form [park]="park"
            [passData]="facilityFormObj"
            (emitter)="getContactFormObj($event);"
            *ngIf="state === 'contact-form'">
        </app-contact-form>
    </div>

    <!-- Success -->
    <app-success
      [regData]="submitRes"
      [park]="park"
      *ngIf="state === 'success'"></app-success>
    <app-failure
      *ngIf="state === 'failure'"
      [errorContent]="errorContent"></app-failure>
</div>