<div class="card">
    <div class="img-card">
        <img src="assets/images/Akamina-Kishinena-Iain-Robert-Reid-15.jpg" />
    </div>
    <div class="card-content">
        <h4 class="card-title">
            <div>
                {{data.name || "somthing"}}
            </div>
        </h4>
        <p *ngIf="data.status">
            Park is open!
        </p>
        <p *ngIf="!data.status">
            Park is closed :(
        </p>
    </div>
    <div class="card-read-more">
        <a (click)="navigate(data)"
            class="BC-Gov-PrimaryButton">
            Book a Pass
        </a>
    </div>
</div>