<div class="card">
    <a class="img-card" href="https://bcparks.ca/">
    <img src="assets/images/Akamina-Kishinena-Iain-Robert-Reid-15.jpg" />
    </a>
    <div class="card-content">
        <h4 class="card-title">
            <a href="https://bcparks.ca/"> {{this.data.parkName}}
            </a>
        </h4>
        <p class="">
            {{this.data.parkDescription}}
        </p>
    </div>
    <div class="card-read-more">
        <a href="https://bcparks.ca/" class="btn btn-link btn-block">
            Book Now
        </a>
    </div>
</div>