@import '/src/assets/themes/default.scss';

.card {
  display: block;
  line-height: 1.42857143;
  background-color: $bg-info;
  border-radius: 5px;
  border: none;
  transition: box-shadow 0.25s;
  overflow: hidden;

  h2 {
    color: $primary;
  }
}

.specialClosure {
  display: block;
  line-height: 1.42857143;
  background-color: $bg-info;
  border-radius: 5px;
  border: none;
  transition: box-shadow 0.25s;
  overflow: hidden;

  h2 {
    color: $primary;
  }
}

.open-circle {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: $success;
  display: inline-block;
}

.closed-circle {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: $danger;
  display: inline-block;
}

.specialClosure-circle {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: $warning;
  display: inline-block;
}

.card-disabled {
  display: block;
  line-height: 1.42857143;
  background-color: #f1f1f1;
  border-radius: 5px;
  transition: box-shadow 0.25s;
  overflow: hidden;
}

.card-disabled img {
  -webkit-filter: grayscale(75%) opacity(50%);
  filter: grayscale(75%) opacity(50%);
}

.fill {
  min-height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  overflow: hidden;
}

.fill img {
  width: 555px;
  height: 275px;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.booking-button {
  border-radius: 1.5rem;
}

.closed-button {
  border-radius: 1.5rem;
  cursor: default;
  min-width: 224px;
  color: $text-default;
  &:hover {
    background-color: transparent;
    cursor: not-allowed;
  }
  &:active {
    background-color: transparent;
  }
  &:focus {
    box-shadow: none;
  }
}

@media (max-width: 767px) {
  .btn {
    width: 100%;
  }
  .fill {
    justify-content: center;
  }
  .fill img {
    min-width: 0%;
    width: 100%;
  }
}

.text-override {
  color: $text-default;
}
