<div class="accordion" id="importantBookingAccordion">
  <div class="accordion-item bg-warning">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
        <b>Important Booking Information</b>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
      data-bs-parent="#importantBookingAccordion">
      <div class="accordion-body">
        <ul>
          <li>
            Passes can be booked starting at 7:00am, two days in advance of your planned visit.
          </li>
          <li>
            Passes will remain available until capacity is met &mdash; any cancelled passes are added back into the
            system, so ensure you frequently check back.
          </li>
          <li>
            Passes cannot be transferred to another date, time, or location and your pass cannot be shared beyond the
            group reserved.
          </li>
          <li>A maximum of one of each pass type (AM, PM, All-Day) can be booked per day.</li>
          <li>
            Day Use Pass Parks switch to a first-come, first-served basis in the evening &mdash; this period, which
            begins at different times at each park, can be found on the park reservation page or here (<a
              href="https://bcparks.ca/reserve/day-use/">https://bcparks.ca/reserve/day-use/</a>).
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>