<div
  class="accordion"
  id="importantBookingAccordion"
>
  <div class="accordion-item bg-warning">
    <h2
      class="accordion-header"
      id="headingOne"
    >
      <button
        class="accordion-button bg-warning"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <b>Important booking information</b>
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="headingOne"
      data-bs-parent="#importantBookingAccordion"
    >
      <div class="accordion-body">
        <p>
          Book passes starting at 7:00am, two days before your visit.
        </p>
        <ul>
          <li>
            There are a set number of passes available each day. Cancelled passes become available again,
            so check back frequently.
          </li>
          <li>
            You may reserve one of each pass type (AM, PM, and ALL DAY) per day.
          </li>
          <li>
            You cannot transfer your pass to another date, time, location, or person.
          </li>
          <li>
            Once you select an available pass, you have 7 minutes to complete your booking. After
            7 minutes, the pass will be made available to others.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>