<div class="accordion" id="importantBookingAccordion">
  <div class="accordion-item bg-warning">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button bg-warning"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne">
        <b>Important Booking Information</b>
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="headingOne"
      data-bs-parent="#importantBookingAccordion">
      <div class="accordion-body">
        <p>Passes can be booked starting at 7:00am, two days in advance of your planned visit.</p>
        <ul>
          <li>
            Passes will remain available until capacity is met &mdash; additional passes may be released each day at
            7:00am, dependent on weather conditions.
          </li>
          <li>
            Passes cannot be transferred to another date, time, or location and your pass cannot be shared beyond the
            group reserved.
          </li>
          <li>1 pass is required per vehicle - Maximum of 8 persons (adult or child) per pass per day.</li>
        </ul>
        <p>Maximum of one A.M. and one P.M. vehicle pass can be booked per day/per person.</p>
        <ul>
          <li>A.M. pass permits parking from 7:00am to noon.</li>
          <li>P.M. pass starts at noon and reserves a spot until 4:00pm.</li>
          <li>After 4:00pm, day-use parking spots will be claimed on a first come, first serve basis.</li>
          <li>
            To reserve a full day visit - please book both an A.M.
            <strong>and</strong>
            P.M. pass consecutively for the date you would like to attend.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
