<div id="success"
    class="card text-center mb-4">
    <div class="card-header">
        <h1>Success, your order has been completed!</h1>
    </div>
    <div class="card-body text-left">
        <button type="button"
            class="btn btn-primary"
            (click)="print()">Print</button>
        <br>
        <br>
        <p class="card-text">
            <b>Order Details:</b>
        </p>
        <p class="card-text">
            Name: {{regData.firstName}} {{regData.lastName}}
        </p>
        <p class="card-text">
            Email: {{regData.email}}
        </p>
        <p class="card-text">
            Reservation Number: {{regData.registrationNumber}}
        </p>
        <p class="card-text">
            Reservation Date: {{regData.visitDate.year}}-{{regData.visitDate.month}}-{{regData.visitDate.day}}
        </p>
        <p class="card-text">
            Facility Name: {{regData.passType.name}}
        </p>
        <p class="card-text">
            Number of Passes: {{regData.passCount}}
        </p>
        <br>
        <p class="card-text">
            <b>Next Steps:</b>
        </p>
        <p class="card-text">
            You will receive a receipt and passes to the email address provided soon, if you do not receive an email
            please contact xxx@xxx.com for assistance.
        </p>
        <p class="card-text">
            You are required to carry a copy of your passes at all time within the park, please print or save a copy to
            your phone
        </p>
        <p class="card-text">
            Please check for updates (notices, closures, trail conditions) on the park webpage.
        </p>
        <p class="card-text">
            Should you need to cancel your booking and link will be provided in your email receipt.
        </p>
    </div>
    <div class="card-footer text-muted text-center">
        <p>
            We hope you enjoy your visit
        </p>
    </div>
</div>
<div class="text-right">
    <button type="button"
        class="btn btn-primary btn-lg"
        (click)="navigate()">Home</button>
</div>