<div id="success" class="card text-center mb-4">
    <div class="card-header">
        <h1>Success, your order has been completed!</h1>
    </div>
    <div class="card-body text-left">
        <button type="button" class="BC-Gov-PrimaryButton" (click)="print()">Print</button>
        <br>
        <br>
        <app-registration-details [regData]="regData">
        </app-registration-details>
        <br>
        <p class="card-text">
            <b>Next Steps:</b>
        </p>
        <p class="card-text">
            You will receive a receipt and passes to the email address provided soon, if you do not receive an email
            please contact xxx@xxx.com for assistance.
        </p>
        <p class="card-text">
            You are required to carry a copy of your passes at all time within the park, please print or save a copy to
            your phone
        </p>
        <p class="card-text">
            Please check for updates (notices, closures, trail conditions) on the park webpage.
        </p>
        <p class="card-text">
            Should you need to cancel your booking and link will be provided in your email receipt.
        </p>
    </div>
    <div class="card-footer text-muted text-center">
        <p>
            We hope you enjoy your visit
        </p>
    </div>
</div>
<div class="text-right">
    <button type="button" class="BC-Gov-PrimaryButton" (click)="navigate()">Home</button>
</div>