<div class="container-md">
    <div class="row">
        <div class="col-md-12 col-lg-6 left-col mb-4">
            <div class="my-3">
                <div class="d-flex success-title my-3">
                    <h1>Success, your reservation has been completed!</h1>
                </div>
            </div>
            <div class="d-none d-lg-block">
                <p class="mb-1">
                    We hope you enjoy your visit,
                </p>
                <p><strong>{{ regData?.firstName ? regData.firstName : '-'}} {{ regData?.lastName ?
                        regData.lastName : '-'}}</strong></p>
            </div>
            <div class="row">
                <div class="col-12 success-title my-3 d-none d-lg-block">
                    <p class="mb-1">Your Reservation Number</p>
                    <p><strong>{{ regData?.registrationNumber }}</strong></p>
                </div>
                <div class="col-12 success-title my-3 d-none d-lg-block">
                    <button type="button" class="btn btn-primary" (click)="print()">Print</button>
                </div>
            </div>
        </div>
        <div class="col-mg-12 col-lg-6 right-col">
            <div class="mb-4">
                <app-registration-details [regData]="regData">
                </app-registration-details>
            </div>
            <div class="col-12 success-title my-3 d-block d-lg-none">
                <button type="button" class="btn btn-primary" (click)="print()">Print</button>
            </div>
            <div class="text-center m-4">
                <p class="d-block d-lg-none ">We hope you enjoy your visit!</p>
            </div>
            <div>
                <h4>Next steps</h4>
                <p>
                    You will receive your pass via email soon. If you do not receive an email
                    please contact <a href="mailto:parkinfo@gov.bc.ca ">parkinfo@gov.bc.ca</a> for
                    assistance.
                </p>
                <p>
                    Please print or save a copy of your pass to your phone.
                </p>
                <p>
                    Please check for updates (notices, closures, trail conditions) on the park webpage.
                </p>
                <p>
                    If you do not intend on using your reservation, please cancel your booking &mdash; a link will be provided in your email receipt.
                </p>
            </div>

            <div class="mt-4 mb-5 d-flex justify-content-end">
                <button type="button" class="btn btn-primary" (click)="navigate()">Home</button>
            </div>
        </div>
    </div>
</div>