@import "/src/assets/base/base.scss";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

.card-header {
    background-color: #003366;
    color: white;
}

.park-select-header {
    background-color: #003366;
    color: white;
}
