@import "/src/assets/themes/default.scss";

html,
body {
    height: 100%;
    margin: 0;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .header {
    flex: 0 1 auto;
}

.box .content {
    flex: 1 1 auto;
}

.box .footer {
    flex: 0 1 auto;
}

// Header
$header-height: 6.313rem;
// Footer
$footer-height: 13.75rem;

.card-header {
    background-color: $bg-dark;
    color: white;
    border-radius: 0.25rem !important;
    text-align: center;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    h1 {
        margin: 0;
    }
    h2 {
        margin: 0;
    }
}

.btn-primary {
    background-color: #003366;
    font-weight: bold;
    padding-left: 4rem;
    padding-right: 4rem;
}

.btn-outline-primary {
    font-weight: bold;
    padding-left: 4rem;
    padding-right: 4rem;
}

.error-container {
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a12622;
    border-radius: 4px;
}

.warning-container {
    background-color: #f9f1c6;
    border: 1px solid #faebcc;
    color: #6c4a00;
    border-radius: 4px;
}

.success-container {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #2d4821;
    border-radius: 4px;
}

.info-container {
    background-color: #d9eaf7;
    color: #313132;
    border-radius: 4px;
}

.label-info {
    color: #606060;
    font-size: 0.8rem;
    margin-top: 0px;
}

@media (max-width: 576px) {
    .btn-primary,
    .btn-outline-primary {
        width: 100%;
    }
}
@-webkit-keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 0.75s linear infinite;
    -moz-animation: rotating 0.75s linear infinite;
    -ms-animation: rotating 0.75s linear infinite;
    -o-animation: rotating 0.75s linear infinite;
    animation: rotating 0.75s linear infinite;
}

.spinner {
    font-size: large;
    color: $primary;
}

.form-group {
    padding-bottom: 1rem;
}

.btn-link {
    text-decoration: none !important;
    color: $primary !important;
}

.a {
    color: $link-color;
}

// Main Navigation
$mn-font-size: 0.875rem; // 14 px
$mn-dropdown-menu-size: 0.875rem; // 14 px


label {
    font-weight: 550;
}

.asteriks {
    font-weight: 700;
    color: black;
}

.form-group {
    padding-bottom: 1.5rem;
}

.accordion-button {
    color: $text-default !important;
}
