@import "/src/assets/styles/abstracts/mixins.scss";
@import "/src/assets/themes/default.scss";
@import "/src/assets/fonts/BCSans";

// From https://developer.gov.bc.ca/Design-System/Alert-Banners

$theme-colors: (
    "primary": $primary,
    "danger": $danger,
    "success": $success
);

.btn-primary{
    background-color: $primary;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover {
       text-decoration: underline;
       opacity: 0.80;
    }
    &:focus {
        outline: 4px solid #3b99fc;
        outline-offset: 1px;
    }
    &:active {
        background-color: $primary !important;
        opacity: 1;
    }
    &:disabled{
        background-color: $primary;
        opacity: 0.3;
        border: none;
        border-radius: 4px;
        color: white;
        padding: 12px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: not-allowed;
    }

}

.btn-secondary{
    background: none;
    border-radius: 4px;
    border: 2px solid $primary;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    color: $primary;

    &:hover {
        opacity: 0.80;
        background-color: $primary !important;
        color: #FFFFFF;
        border: 2px solid $primary;
    }
    &:focus {
        outline-offset: 1px;
        outline: 4px solid #3B99FC;
        background-color: $primary !important;
        box-shadow: none !important;
        
    }
    &:active {
        background-color: $primary !important;
        opacity: 1;
        box-shadow: none !important;
        
    }
    &:disabled{
        background-color: white;
        opacity: 0.3;
        border: 2px solid $primary;
        border-radius: 4px;
        color: #003366;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: not-allowed;
    }
}

.btn-primary.btn-block{
    border-radius: 0px 0px 4px 4px !important;

    &:hover{
        background-color: $primary;
    }
}

.btn-link{
    color:$link;
    cursor: pointer;
}

.card-header {
    background-color: $primary;
    color: $card-header-color ;
}

.park-select-header {
    background-color: $primary;
    color: $header-font-color;
}

.registration-details-container {
    background-color: $bg-secondary;
    border-radius: 5px;
    color: $text;
    border: 1px solid #e9e9e9
}

.confirmation-number-container {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #e9e9e9;
    color: $text
}

.error-container {
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a12622;
    border-radius: 4px;
}

.warning-container {
    background-color: #f9f1c6;
    border: 1px solid #faebcc;
    color: #6c4a00;
    border-radius: 4px;
}

.success-container {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #2d4821;
    border-radius: 4px;
}

.info-container {
    background-color: #d9eaf7;
    color: #313132;
    border-radius: 4px;
}
.label-info {
    color:#606060;
    font-size: 0.8rem;
    margin-top: 0px;
}

.back-button {
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
}

@media (max-width: 576px){
    .btn {
        width: 100%;
    }
}