@import '/src/assets/themes/default.scss';

.error-message {
  color: $error;
}

.left-col {
  border-right: 2px solid lightgray;
  padding-left: none;
  padding-right: 4rem;
}

.right-col {
  padding-left: 4rem;
  padding-right: none;
}

@media screen and (max-width: 992px) {
  .left-col {
    border-right: none;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .right-col {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.details-container {
  background-color: $bg-info;
}

#raiseText {
  margin-top: -2%;
  margin-left: -5%;
}