@import '/src/assets/themes/default.scss';

.error-message {
  color: $error;
}

.left-col {
  border-right: 2px solid lightgray;
  padding-left: none;
  padding-right: 4rem;
}

.right-col {
  padding-left: 4rem;
  padding-right: none;
}

@media screen and (max-width: 992px) {
  .left-col {
    border-right: none;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .right-col {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.details-container {
  background-color: $bg-info;
}

#raiseText {
  margin-top: -2%;
  margin-left: -5%;
}


.phone{
  border: none !important;
}

:host ::ng-deep .iti {
  width: 100%;
}
// .iti--allow-dropdown {
//   width: 100%;
//   border: none !important;
// }
// .intl-tel-input {
// 	display: block !important;
//   border: none !important;
// }

// .intl-tel-input .country-list {
// 	border-top-left-radius: 0px;
// 	border-top-right-radius: 0px;
// 	box-shadow: none;
// 	border-color: #c7cace;
// 	font-size: 14px;
// 	margin-left: 0;
// 	margin-top: -1px;
// 	width: 265px;
//   border: none !important;
// }

// .flag-container.open + input {
// 	border-bottom-left-radius: 0px;
// 	border-bottom-right-radius: 0px;
//   border: none !important;
// }

// :host{
//   ::ng-deep{
//     .mystyle {
//       border: none;
//     }
//   }
// }