@if (!data?.smallAlert) {
  <div class="p-5 m-4 text-center" [ngClass]="getAlertClass(data?.type)" title='data?.title'>
    <div class="row d-flex justify-content-center">
      <span>
        @if (data?.type === 'error' && data?.code) {
          <h4>Error {{ data?.code }}:</h4>
        }
        <h4><strong>{{ data?.title }}</strong></h4>
      </span>
    </div>
    <div class="row d-flex m-4 justify-content-center">
      @if (data?.type === 'error') {
        <i class="material-icons">error</i>
      }
      @if (data?.type === 'warning') {
        <i class="material-icons">report_problem</i>
      }
      @if (data?.type === 'success') {
        <i class="material-icons">check_circle</i>
      }
      @if (data?.type === 'info') {
        <i class="material-icons">info</i>
      }
    </div>
    @if (data?.message) {
      <div class="row d-flex justify-content-center" [innerHTML]="data?.message">
        <div [innerHTML]="data?.message"></div>
      </div>
    }
  </div>
}

@if (data?.smallAlert) {
  <div class="p-3 my-2 text-center smallAlert" [ngClass]="getAlertClass(data?.type)"
    title='{{data?.title}}'>
    <div class="row justify-content-center d-flex align-items-center">
      <div class="col-lg-1 justify-content-center d-flex align-items-center">
        @if (data?.type === 'error') {
          <i class="material-icons">error</i>
        }
        @if (data?.type === 'warning') {
          <i class="material-icons">report_problem</i>
        }
        @if (data?.type === 'success') {
          <i class="material-icons">check_circle</i>
        }
        @if (data?.type === 'info') {
          <i class="material-icons">info</i>
        }
      </div>
      @if (data?.type === 'error' && data?.code) {
        <div class="col-lg-1">
          <strong>{{ data?.code }}</strong>:
        </div>
      }
      @if (data?.message) {
        <div [ngClass]="{'col-lg-10': data?.code, 'col-lg-11': !data?.code}">
          <div [innerHTML]="data?.message"></div>
        </div>
      }
    </div>
  </div>
}