<div *ngIf="!data?.smallAlert" class="p-5 m-4 text-center" [ngClass]="getAlertClass(data?.type)" title='data?.title'>
    <div class="row d-flex justify-content-center">
        <span>
            <h4 *ngIf="data?.type === 'error' && data?.code">Error {{ data?.code }}:</h4>
            <h4><strong>{{ data?.title }}</strong></h4>
        </span>

    </div>
    <div class="row d-flex m-4 justify-content-center">
        <i *ngIf="data?.type === 'error'" class="material-icons">error</i>
        <i *ngIf="data?.type === 'warning'" class="material-icons">report_problem</i>
        <i *ngIf="data?.type === 'success'" class="material-icons">check_circle</i>
        <i *ngIf="data?.type === 'info'" class="material-icons">info</i>
    </div>
    <div *ngIf="data?.message" class="row d-flex justify-content-center" [innerHTML]="data?.message">
        <div [innerHTML]="data?.message"></div>
    </div>
</div>

<div *ngIf="data?.smallAlert" class="p-3 my-2 text-center smallAlert" [ngClass]="getAlertClass(data?.type)"
    title='{{data?.title}}'>
    <div class="row justify-content-center d-flex align-items-center">
        <div class="col-lg-1 justify-content-center d-flex align-items-center">
            <i *ngIf="data?.type === 'error'" class="material-icons">error</i>
            <i *ngIf="data?.type === 'warning'" class="material-icons">report_problem</i>
            <i *ngIf="data?.type === 'success'" class="material-icons">check_circle</i>
            <i *ngIf="data?.type === 'info'" class="material-icons">info</i>
        </div>
        <div *ngIf="data?.type === 'error' && data?.code" class="col-lg-1">
            <strong>{{ data?.code }}</strong>:
        </div>
        <div *ngIf="data?.message" [ngClass]="{'col-lg-10': data?.code, 'col-lg-11': !data?.code}">
            <div [innerHTML]="data?.message"></div>
        </div>
    </div>
</div>