<div class="mt-4 mb-md-4 mb-0">
    <div class="container-md p-4 rounded">
        <div>
            <h2>
                Guidelines
            </h2>
            <p>
                Visitors are required to reserve a day pass at participating parks.
            </p>
        </div>
        <div class="mt-4">
            <div class="row gy-3">
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <div class="numberCircle">
                                1
                            </div>
                        </div>
                        <div class="col-10">
                            <h3>
                                Arrive Prepared
                            </h3>
                            <p>
                                Please arrive with your trip planned and your pass downloaded or printed. In order to
                                make the most of your pass, ensure you arrive with ample time to complete your intended
                                activities.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <div class="numberCircle">
                                2
                            </div>
                        </div>
                        <div class="col-10">
                            <h3>
                                Cancelations
                            </h3>
                            <p>
                                Only reserve passes that you intend to use. If you are no longer in need of a previously
                                reserved pass, please cancel according by following the instructions provided in your
                                confirmation email.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>