<div class="my-5">
    <div class="visiting-container rounded">
        <div>
            <h2>
                Guidelines
            </h2>
            <p>
                As of June 22, 2021, visitors are required to reserve a day pass to visit participating parks. Depending
                on the park, a day-use pass may not be required for all trails. If the park is open and the trail or
                trailhead isn’t listed in the menu below, you do not need to reserve a day pass. Check bcparks.ca for
                more details.
            </p>
        </div>
        <div class="mt-5">
            <div class="row gy-3">
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <div class="numberCircle">
                                1
                            </div>
                        </div>
                        <div class="col-8">
                            <h3>
                                Cancellations
                            </h3>
                            <p>
                                Please cancel according to the instructions in your confirmation email if the passes
                                you’ve reserved are no longer needed.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <div class="numberCircle">
                                2
                            </div>
                        </div>
                        <div class="col-8">
                            <h3>
                                Space
                            </h3>
                            <p>
                                Passes do not guarantee a parking spot – visitors should plan accordingly.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <div class="numberCircle">
                                3
                            </div>
                        </div>
                        <div class="col-8">
                            <h3>
                                Preparation
                            </h3>
                            <p>
                                Preparation Always travel within your ability and prepare for your trip.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <div class="numberCircle">
                                4
                            </div>
                        </div>
                        <div class="col-8">
                            <h3>
                                In-Park
                            </h3>
                            <p>
                                Follow in-park signage and have your pass available while in the park and on the trail.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>