<div class="container-md p-0 p-md-4">
    <div class="header pt-4 mb-md-4">
        <h2 class="my-0 px-4 px-md-0">
            Keys to Visiting the Great Outdoors
        </h2>
    </div>
    <div class="visiting-container rounded">
        <div class="container-md px-4 py-5">
            <div class="row gy-3">
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="row">
                        <div class="col-2">
                            <div class="numberCircle">
                                1
                            </div>
                        </div>
                        <div class="col-10">
                            <h3>
                                Plan Ahead
                            </h3>
                            <p>
                                Prepare for your trip. Travel within your abilities and check weather conditions before
                                your trip. Have your park pass loaded before you arrive to the park, as mobile internet
                                connectivity can be unreliable. Share your plan with a trusted contact.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="row">
                        <div class="col-2">
                            <div class="numberCircle">
                                2
                            </div>
                        </div>
                        <div class="col-10">
                            <h3>
                                Use Available Resources
                            </h3>
                            <p>
                                Check the <a href="http://bcparks.ca" target="_blank">BC Parks home page</a> for important updates and
                                notices. Download and use AdventureSmart's <a
                                    href="https://www.adventuresmart.ca/trip-plan-app/" target="_blank">Trip Plan app</a>.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="row">
                        <div class="col-2">
                            <div class="numberCircle">
                                3
                            </div>
                        </div>
                        <div class="col-10">
                            <h3>
                                Pack the Essentials
                            </h3>
                            <p>
                                Nature is unpredictable; do your own research and pack the essentials &mdash; be
                                prepared for anything.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="row">
                        <div class="col-2">
                            <div class="numberCircle">
                                4
                            </div>
                        </div>
                        <div class="col-10">
                            <h3>
                                Recreate Responsibly
                            </h3>
                            <p>
                                Parks are not self-cleaning &mdash; pack out all garbage, recyclables, and organics.
                                Organic matter can attract wildlife. Learn more <a
                                    href="http://bcparks.ca/beresponsible" target="_blank">here</a>.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="row">
                        <div class="col-2">
                            <div class="numberCircle">
                                5
                            </div>
                        </div>
                        <div class="col-10">
                            <h3>
                                Keep Wildlife Wild
                            </h3>
                            <p>
                                Parks are home to all kinds of wildlife. Follow in-park signage to respect their natural
                                habitat and limit encounters. Please refrain from feeding any wild animals.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="row">
                        <div class="col-2">
                            <div class="numberCircle">
                                6
                            </div>
                        </div>
                        <div class="col-10">
                            <h3>
                                Enjoy
                            </h3>
                            <p>
                                Enjoy your visit. For more information on the day pass pilot program, including what to
                                expect in park, please visit us <a href="http://bcparks.ca/reserve/day-use/" target="_blank">here</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>