<div class="container-md p-0 p-md-4">
    <div class="header pt-4 mb-md-4">
        <h2 class="my-0 px-4 px-md-0">
            Keys to visiting the great outdoors
        </h2>
    </div>
    <div class="visiting-container rounded">
        <div class="container-md px-4 py-4">
            <div class="row gy-3">
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="row">
                        <div class="col-2">
                            <div class="numberCircle">
                                1
                            </div>
                        </div>
                        <div class="col-10">
                            <h3>
                                Plan ahead
                            </h3>
                            <p>
                                Prepare for your trip. Travel within your abilities, and check weather conditions before your trip. 
                                Have your park pass printed or saved before you arrive at the park, as mobile internet connectivity 
                                can be unreliable. Share your plan with a trusted contact. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="row">
                        <div class="col-2">
                            <div class="numberCircle">
                                2
                            </div>
                        </div>
                        <div class="col-10">
                            <h3>
                                Use available resources
                            </h3>
                            <p>
                                Check the <a href="http://bcparks.ca" target="_blank">BC Parks home page</a> for important updates and 
                                notices. Download and use the <a
                                href="https://www.adventuresmart.ca/trip-plan-app/" target="_blank">AdventureSmart Trip Plan app</a>. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="row">
                        <div class="col-2">
                            <div class="numberCircle">
                                3
                            </div>
                        </div>
                        <div class="col-10">
                            <h3>
                                Pack the essentials
                            </h3>
                            <p>
                                Nature is unpredictable. Do your research and 
                                <a href="https://www.adventuresmart.ca/the-three-ts/" target="_blank">pack the essentials</a>. Be 
                                prepared for anything. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="row">
                        <div class="col-2">
                            <div class="numberCircle">
                                4
                            </div>
                        </div>
                        <div class="col-10">
                            <h3>
                                Recreate responsibly
                            </h3>
                            <p>
                                Parks are not self-cleaning. Pack out all garbage, recyclables, and organics. Organic matter can 
                                attract wildlife. Learn more on our <a
                                    href="http://bcparks.ca/beresponsible" target="_blank">responsible recreation</a> page.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="row">
                        <div class="col-2">
                            <div class="numberCircle">
                                5
                            </div>
                        </div>
                        <div class="col-10">
                            <h3>
                                Keep wildlife wild
                            </h3>
                            <p>
                                Parks are home to all kinds of wildlife. Follow in-park signage to respect their natural habitat, 
                                and limit encounters. Please do not feed any wild animals. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="row">
                        <div class="col-2">
                            <div class="numberCircle">
                                6
                            </div>
                        </div>
                        <div class="col-10">
                            <h3>
                                Enjoy
                            </h3>
                            <p>
                                Enjoy your visit. For more information on the day pass pilot program, including what to expect 
                                in the park, please visit the day-use pass information page. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
