<div *ngIf="loading"
    class=" text-center">
    <span class="material-icons md-48 spinner rotating">
        autorenew
    </span>
</div>
<app-list *ngIf="!loading"
    [tableRowComponent]="tableRowComponent"
    [tableColumns]="tableColumns"
    [data]="data"
    [totalListItems]="totalListItems"
    [options]="options">
</app-list>

<div *ngIf="totalListItems === 0 && !loading">
    <p>
        There are no parks to display.
    </p>
    <p *ngIf="!error">
        There are no day passes needed on provincial parks at this time.
    </p>
    <p *ngIf="error">
        Please contact <a href="mailto:parkinfo@gov.bc.ca">parkinfo&#64;gov.bc.ca</a> if you continue to
        experience issues.
    </p>
</div>