@if (loading) {
  <div
    class=" text-center">
    <span class="material-icons md-48 spinner rotating">
      autorenew
    </span>
  </div>
}
@if (!loading) {
  <app-list
    [tableRowComponent]="tableRowComponent"
    [tableColumns]="tableColumns"
    [data]="data"
    [totalListItems]="totalListItems"
    [options]="options">
  </app-list>
}

@if (totalListItems === 0 && !loading) {
  <div>
    <p>
      There are no parks to display.
    </p>
    @if (!error) {
      <p>
        There are no day passes needed on provincial parks at this time.
      </p>
    }
    @if (error) {
      <p>
        Please contact <a href="mailto:parkinfo@gov.bc.ca">parkinfo&#64;gov.bc.ca</a> if you continue to
        experience issues.
      </p>
    }
  </div>
}