@import "/src/assets/themes/default.scss";

label {
    width: 100%;
}

.card-enabled:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

input[type="radio"] {
    visibility: hidden;
}

input[type="radio"]:after {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    position: absolute;
    top: 1.34rem;
    content: "";
    background-color: white;
    visibility: visible;
    cursor: pointer;
    outline: 0.3rem solid white;
    border: 0.2rem solid #38598a;
}

input[type="radio"]:checked:after {
    position: absolute;
    outline: 0.2rem solid white;
    border: 0.3rem solid #38598a;
    background-color: white;
    border-radius: 1rem;
    visibility: visible;
    cursor: pointer;
}

.card-header-disabled input[type="radio"]:after {
    border: 1px solid white;
    cursor: default;
}

.card-input-element {
    display: none;
}

.card-body-disabled {
    background-color: #f1f1f1;
    color: #a1a1a1;
}

.card-header-selected {
    background-color: $primary !important;
    color: white;
    text-align: left;
}

.card-header-enabled {
    background-color: white !important;
    color: $primary;
    text-align: left;
}

.card-header-disabled {
    background-color: #c7c7c7 !important;
    color: white !important;
    text-align: left;
}

.enable-pointer:hover {
    cursor: pointer;
}

.material-icons {
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.High {
    color: green;
}

.Moderate {
    color: orange;
}

.Low {
    color: red;
}

.Unavailable {
    color: grey;
}

.Full {
    color: grey;
}

.turnstile-modal {
    background-color: transparent;
    border: none;
}