<form [formGroup]="myForm">
    <fieldset class="form-group">
        <label for="passType">Pass Type</label>
        <select class="form-control" formControlName="passType" id="passType" (change)="setState('date')"
            data-testid="passtype-select">
            <option hidden disabled selected value> --Select a pass type--</option>
            <option *ngFor="let facility of openFacilities" [ngValue]="facility">
                {{facility?.name}} - {{facility?.type}}
            </option>
            <option disabled *ngFor="let facility of closedFacilities" [ngValue]="facility">
                {{facility?.name}} - Closed
            </option>
            <option disabled *ngIf="facilities?.length === 0" [ngValue]="facility">
                Passes are not required at this park.
            </option>
        </select>
    </fieldset>
    <div class="form-group">
        <label for="visitDate">Visit Date</label>
        <app-date-picker [control]="myForm.controls.visitDate" [isValidate]="true" [minDate]="minDate"
            (formChangeEvent)="setState('time')" (clearEvent)="resetTimeConfig()" [maxDate]="maxDate"
            [isDisabled]="isDisabled('date') || (!isOpeningHourPast && bookingDaysAhead < 1)">
        </app-date-picker>
        <small *ngIf="!isDisabled('date') && !isOpeningHourPast && bookingDaysAhead < 1" class="form-text text-muted">
            Passes are not yet available to book for this facility.
        </small>
    </div>
    <fieldset class="form-group" [disabled]="isDisabled('time')">
        <label for="visitDate">Booking Time</label>
        <div *ngIf="!timeConfig.AM.offered && !timeConfig.PM.offered && !timeConfig.DAY.offered">
            <p class="text-muted">Please select a date to see available passes for that day.</p>
        </div>
        <div class="row row-cols-1 row cols-md-3 g-4">
            <div class="col-lg-4" *ngIf="timeConfig.AM.offered">
                <div class="card h-100 card-primary card-input" (click)="onTimeChange('AM')"
                    [class.enable-pointer]="!timeConfig.AM.disabled"
                    [class.card-enabled]="!timeConfig.AM.disabled">
                    <div class="card-header"
                        [class.card-header-selected]="timeConfig.AM.selected && !timeConfig.AM.disabled"
                        [class.card-header-enabled]="!timeConfig.AM.disabled && !timeConfig.AM.selected"
                        [class.card-header-disabled]="timeConfig.AM.disabled">
                        <label [class.enable-pointer]="!timeConfig.AM.disabled">
                            <input type="radio" id="visitTimeAM" name="visitTime" class="custom-control-label"
                                formControlName="visitTime" value="AM" (change)="onTimeChange('AM')" />
                            &nbsp;
                            <span class="ml-2 time-header">AM</span>
                        </label>
                    </div>
                    <div class="card-body">
                        <p class="card-text" data-testid="day-availability-text" *ngIf="!showTimeText('AM')">
                            -
                        </p>
                        <p class="card-text" data-testid="day-availability-text" *ngIf="showTimeText('AM')">
                            Pass availability - <span [ngClass]="timeConfig.AM.text">{{timeConfig.AM.text}}</span>
                        </p>
                        <p class="card-text">
                            7am&ndash;12pm (Depart by noon)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" *ngIf="timeConfig.PM.offered">
                <div class="card h-100 card-primary card-input" (click)="onTimeChange('PM')"
                    [class.enable-pointer]="!timeConfig.PM.disabled"
                    [class.card-enabled]="!timeConfig.PM.disabled">                    
                    <div class="card-header"
                        [class.card-header-selected]="timeConfig.PM.selected && !timeConfig.PM.disabled"
                        [class.card-header-enabled]="!timeConfig.PM.disabled && !timeConfig.PM.selected"
                        [class.card-header-disabled]="timeConfig.PM.disabled">
                        <label [class.enable-pointer]="!timeConfig.PM.disabled">
                            <input type="radio" id="visitTimePM" name="visitTime" class="custom-control-label"
                                formControlName="visitTime" value="PM" (change)="onTimeChange('PM')" />
                            &nbsp;
                            <span class="ml-2 time-header">PM</span>
                        </label>
                    </div>
                    <div class="card-body">
                        <p class="card-text" data-testid="day-availability-text" *ngIf="!showTimeText('PM')">
                            -
                        </p>
                        <p class="card-text" data-testid="day-availability-text" *ngIf="showTimeText('PM')">
                            Pass availability - <span [ngClass]="timeConfig.PM.text">{{timeConfig.PM.text}}</span>
                        </p>
                        <p class="card-text">
                            12pm&ndash;4pm (Arrive no earlier than noon)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" *ngIf="timeConfig.DAY.offered">
                <div class="card h-100 card-primary card-input" (click)="onTimeChange('DAY')"
                    [class.enable-pointer]="!timeConfig.DAY.disabled"
                    [class.card-enabled]="!timeConfig.DAY.disabled">
                    <div class="card-header"
                        [class.card-header-selected]="timeConfig.DAY.selected && !timeConfig.DAY.disabled"
                        [class.card-header-enabled]="!timeConfig.DAY.disabled && !timeConfig.DAY.selected"
                        [class.card-header-disabled]="timeConfig.DAY.disabled">
                        <label [class.enable-pointer]="!timeConfig.DAY.disabled">
                            <input type="radio" id="visitTimeDAY" name="visitTime" class="custom-control-label"
                                formControlName="visitTime" value="DAY" (change)="onTimeChange('DAY')" />
                            &nbsp;
                            <span class="ml-2 time-header">DAY</span>
                        </label>
                    </div>
                    <div class="card-body">
                        <p class="card-text" data-testid="day-availability-text" *ngIf="!showTimeText('DAY')">
                            -
                        </p>
                        <p class="card-text" data-testid="day-availability-text" *ngIf="showTimeText('DAY')">
                            
                            Pass availability - <span [ngClass]="timeConfig.DAY.text">{{timeConfig.DAY.text}}</span>
                        </p>
                        <p class="card-text">
                            Arrive and depart within park operating hours.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <label for="passCount">Number of Passes Required</label>
        <div *ngIf="state < getStateByString('passes') || !checkPassType()">
            <input type="text" class="form-control" id="passCount" disabled>
        </div>
        <div *ngIf="state >= getStateByString('passes') && checkPassType() === 'Trail'">
            <select class="form-control" formControlName="passCount" id="passCount"
                placeholder="Select Number of Passes">
                <option [ngValue]="null" hidden disabled selected value> -- Select number of passes -- </option>
                <option *ngFor="let pass of passesAvailable" [value]="pass">{{ pass }}</option>
                <option disabled *ngIf="passesAvailable.length < 1" [value]="notAvailable">No availability at this time.
                </option>
            </select>
            <label class="label-info" for="passCount">You may request up to four trail passes at a time, if remaining
                capacity allows.</label>
            <label class="label-info" for="passCount">Those 18 and under <strong>do not require a pass</strong> when
                accompanied by a parent
                or guardian</label>
        </div>
        <div *ngIf="state === getStateByString('passes') && checkPassType() === 'Parking'">

            <select class="form-control" formControlName="passCount" id="passCount">
                <option [ngValue]="null" hidden disabled selected value> -- Select number of passes -- </option>
                <option *ngFor="let pass of passesAvailable" [value]="pass">{{ pass }}</option>
                <option disabled *ngIf="passesAvailable.length < 1" [value]="notAvailable">No availability at this time.
                </option>
            </select>
            <label class="label-info" for="passCount">You may only request 1 parking pass at a time.</label>
        </div>
    </fieldset>
</form>
<div class="d-flex justify-content-end">
    <button type="button" [disabled]="myForm.status === 'INVALID'" class="btn btn-primary"
        (click)="submit()">Next</button>
</div>