<!-- Order: Park, lot, date, name, reservation number, email -->
<div class="reservation-info p-4" id="registration">
    <div class='row' *ngIf="regData?.park?.name">
        <p class="card-text">
            Park Name
        </p>
        <h3>
            {{ regData?.park?.name }}
        </h3>
        <hr>
    </div>
    <div class='row' *ngIf="regData?.facilityName">
        <p class="card-text">
            Facility Name
        </p>
        <h3>
            {{ regData?.facilityName }} ({{ regData?.type }})
        </h3>
        <hr>
    </div>
    <div class='row' *ngIf="regData?.date">
        <p class="card-text">
            Date
        </p>
        <h3>
            {{ regData?.date | date : 'mediumDate' }}
        </h3>
        <hr>
    </div>
    <div class='row' *ngIf="regData?.firstName || regData?.lastName">
        <p class="card-text">
            Name
        </p>
        <h3>
            {{ regData?.firstName ? regData.firstName : '-'}} {{ regData?.lastName ?
            regData.lastName : '-'}}
        </h3>
        <hr>
    </div>
    <div class='row' *ngIf="regData?.registrationNumber">
        <p class="card-text">
            Reservation Number
        </p>
        <h3>
            {{ regData?.registrationNumber }}
        </h3>
    </div>
</div>