@import "/src/assets/themes/default.scss";

.header-container {
    background: $bg-default;
}

.camp-car-container {
    position: relative;
}

.car-img {
    border-radius: 8px;
}

.img-blurb {
    background-color: white;
    border-radius: 5px;
    left: 2rem;
    right: 2rem;
    bottom: 1rem;
    top: auto;
    position: absolute;
}

@media screen and (max-width: 1400px) {
    .img-blurb {
        position: relative;
        top: 1rem;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin-bottom: 1rem;
    }
}
