@import "/src/assets/themes/default.scss";

.header-container {
    background: $bg-default;
}

.camp-car-container{
    position: relative;
}

.camp-car {
    width: 100%;
    height: 100%;
}

.img-blurb {
    background-color: white;
    border-radius: 5px;
    left: 2rem;
    right: 2rem;
    bottom: 1rem;
    top: auto;
    position: absolute;
}

.visiting-container {
    background: $bg-default;
}

.numberCircle {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding-top: 3px;

    background: #fff;
    border: 2px solid black;
    color: black;
    text-align: center;
    background: $bg-default;
}


@media screen and (max-width: 1200px) {
    .img-blurb {
        position: relative;
        top: 1rem;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin-bottom: 1rem;
    }
  
  }