@import "@digitalspace/bcparks-bootstrap-theme/dist/scss/variables";

$bg-dark: $primary;
$bg-info: $info;
$bg-header-secondary: #d7dee8;
$text-default: #494949;
$error: $danger;

// Background Colors
$bg-default: $form-grey;

// Header
$header-font-color: $light;
$header-bg: $bg-dark;
$header-h1: $blue;

// Footer
$footer-bg: $bg-dark;
$footer-color: $light;
$bg-dark-border-color: #5475a7;

// Main navigation
$mn-color: $light;
$mn-border-color: #5f79a2;
$mn-hover-bg: #2b4777;
$mn-hover-color: $bcgold;
$mn-toggle-color: $bcgold;
$mn-dropdown-bg: #2b4777;