<div class="card text-center mb-5">
    <div class="card-header">
        <h1>{{park.name}}</h1>
    </div>
    <div class="card-body text-left">
        <p class="card-text">
            {{park.description}}
        </p>
    </div>
    <div class="card-footer text-muted text-left">
        <p>
            As of June 15, 2021, visitors are required to reserve a day pass to visit participating parks. Depending on
            the
            park, a day-use pass may not be required for all trails. If the park is open and the trail or trailhead
            isn’t
            listed, you do not need to reserve a day pass. Check the park webpage for details on where you need a
            day-use
            pass.
        </p>
        <p>
            Visitors can reserve starting at 7:00am a day in advance of their planned visit. Once reserved, passes
            cannot be
            transferred to another date, time, or location and your pass cannot be shared beyond the group reserved.
            Please
            cancel passes if they are no longer needed.
        </p>
        <ul>
            <li>
                Passes do not guarantee a parking spot – visitors should plan accordingly.
            </li>
            <li>
                Always travel within your ability and prepare for your trip. Follow in-park signage and have your pass
                available while in the park and on the trail.
            </li>
        </ul>
    </div>
</div>